<div class="d-flex justify-content-center">
  <div class="col-8 text-center mx-auto">
    <form (ngSubmit)="formSubmit()" class="needs-validation" novalidate>
      <div class="d-flex align-items-center">
        <input
          type="text"
          id="todoInput"
          class="form-control me-2"
          placeholder="Enter the todo"
          [(ngModel)]="todo"
          name="todo"
          required
        />
        <button type="submit" class="btn btn-primary">Add</button>
        <div class="invalid-feedback">Please enter a todo.</div>
      </div>
    </form>
  </div>
</div>
